<html>
<head>
    <meta charset="UTF-8">
    <title>Feeds</title>
    <style>
        .feed-container {
            margin-bottom: 20px;
        }
        .feed-content {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<h1>Hello {{ username }}!</h1>
<form action={{ url_for('logout') }}>
  <input type="submit" value="Log out" />
</form>

<form action={{ url_for('render') }} method="post">
  <label for="markdown">Share something:</label><br>
  <textarea id="markdown" name="markdown" rows="5" cols="50"></textarea>
  <br>
  <input type="submit" value="Post">
</form>

<h1>Feeds</h1>
{% for feed in all_feeds %}
    <div class="feed-container">
        <p class="feed-content">
            <hr><p><strong>{{ feed[0] }}</strong> {{ feed[2] }}<br>{{ feed[1]|safe }}</p>
        </div>
    </div>
{% endfor %}
