<html>
<head>
    <meta charset="UTF-8">
    <title>Feeds</title>
</head>
<body>
<h1>Hello {{ username }}!</h1>
<form action={{ url_for('logout') }}>
  <input type="submit" value="Log out" />
</form>

<form action={{ url_for('render') }} method="post">
  <label for="markdown">Share something:</label><br>
  <textarea id="markdown" name="markdown" rows="5" cols="50"></textarea>
  <br>
  <input type="submit" value="Post">
</form>

{% if all_feeds|length > 0 %}
<h1>Feeds</h1>
{% for feed in all_feeds %}
{{ feed[1] | safe }} <br>
<strong>{{ feed[0] }}</strong><br>
<em>{{ feed[2] }}</em><br><br>
{% endfor %}
{% endif %}
</body>
</html>
