<html>
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<h1>Change Password</h1>
<form method="post" action="{{ url_for('auth.change_password') }}">
    <label for="current_password">Current Password:</label><br>
    <input type="password" id="current_password" name="current_password" required><br><br>

    <label for="new_password">New Password:</label><br>
    <input type="password" id="new_password" name="new_password" required><br><br>

    <label for="code">2FA Token:</label><br>
    <input type="text" id="code" name="code" required><br><br>

    <input type="submit" value="Change Password">
</form>
</body>
</html>