<html>
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
    <style>
        .username-link {
            text-decoration: none;
            color: black;
            font-weight: bold;
            cursor: pointer;
            font-size: 20px;
        }
        .username-link:hover {
            color: blue;
        }
        .feed-content {
            word-wrap: break-word;
            overflow-wrap: break-word;
            max-width: 100%;
        }
    </style>
</head>
<body>
<h1>Hello {{ username }}!</h1>
<form action="{{ url_for('auth.change_password') }}">
  <input type="submit" value="Change Password" />
</form>
<form action="{{ url_for('auth.logout') }}">
  <input type="submit" value="Log out" />
</form>

<form action="{{ url_for('main.render') }}" method="post">
  <label for="markdown">Share something:</label><br>
  <textarea id="markdown" name="markdown" rows="5" cols="50"></textarea><br>
  <label for="password">Password: </label>
  <input type="password" id="password" name="password" required><br>
  <input type="submit" value="Post">
</form>

<h1>Feed</h1>
{% for feed in all_feeds %}
    <div>
            <hr>
            <p>
                <a href="{{ url_for('user_page.user_page', user_id=feed[0]) }}" class="username-link"><strong>{{ feed[0] }}</strong></a>
                <em>{{ feed[4] }}</em><br>{{ feed[1]|safe }}
            </p><br><br>
            <p class="feed-content">
                <strong>Hashed feed (in base64, SHA256):</strong><br>
                {{ feed[3] }}
            </p>
            <p class="feed-content">
                <strong>Signature (in base64):</strong><br>
                {{ feed[2] }}
            </p>
        </div>
    </div>
{% endfor %}
</body>
</html>
