<html>
<head>
    <meta charset="UTF-8">
    <title>User Page - {{ username }}</title>
    <style>
        .username {
            color: black;
            font-weight: bold;
            font-size: 20px;
        }
        .feed-content {
            word-wrap: break-word;
            overflow-wrap: break-word;
            max-width: 100%;
        }
    </style>
</head>
<body>
<form action="{{ url_for('main.hello') }}">
  <input type="submit" value="Back to Home" />
</form>

<h1>{{ username }}</h1>
<div class="feed-content"><strong>User Public Key:</strong><br>{{ pub_key }}</div><br><br>
<h2>{{ username }}'s Posts</h2>
{% if user_feeds %}
    {% for feed in user_feeds %}
        <div>
            <hr>
            <p>
                <strong>{{ feed[0] }}</strong>
                <em>{{ feed[4] }}</em><br>{{ feed[1]|safe }}
            </p><br><br>
            <p class="feed-content">
                <strong>Hashed feed (in base64, SHA256):</strong><br>
                {{ feed[3] }}
            </p>
            <p class="feed-content">
                <strong>Signature (in base64):</strong><br>
                {{ feed[2] }}
            </p>
        </div>
    {% endfor %}
{% endif %}
</body>
</html>
